@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
.navbarSection{
    /* position: fixed; */
    width: 100vw;
    height: 70px;
    align-content: center;
    display: flex;
}
.nav1{
    width: 20%;
    display: flex;
    align-items: end;
    justify-content: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 37px;
    font-style: normal;
    color: rgb(58, 45, 177);
}
.nav2{
    width: 60%;
    display: flex;
    align-items: end;
    justify-content: center;
    ul{
        display: flex;
        align-items: end;
        list-style: none;
        gap: 66px;
        font-weight: 400;
        font-size: 14px;
        color: rgb(0, 0, 58);
    }
    li{
        cursor: pointer;
    }
}
.nav3{
    width: 20%;
    display: flex;
    align-items: end;
    justify-content: center;
    button{
        padding: 12px 10px;
        color: white;
        background: rgb(58, 45, 177);
        border: none;
        outline: none;
        border-radius: 7px;
        cursor: pointer;
        transition: .3s;
    }:active{
        scale: .8;
    }
}